<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Portfolio of Jokubas Dargis</title>
  <meta name="description" content="">
  <meta name="author" content="Jokubas Dargis">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="/css/all.css">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="/favicon.ico">


   <!-- Scripts
  ================================================== -->
  <script src="/scripts/all.js"></script>
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29386426-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</head>
<body>
  <div class="container">
    <header class="sixteen columns">
      <div id="branding" class="sixteen columns alpha backing">
        <h1><a href="/" title="Portfolio of Jokūbas Dargis">Jokūbas Dargis</a></h1>
        <h2><a href="/" title="Portfolio of Jokūbas Dargis">Jokūbas Dargis</a></h2>
        <hr class="half-bottom"/>
          <p> Sound designer &amp; creative coder</p>
      </div>
    </header> 
  </div>
  <div class="container">
    <nav id="primary" class="sixteen columns" role="Primary Navigation">
      <ul>
        <li id=""><a href="/#about">About</a></li>
        <li><a href="/#work">Work</a></li>
        <li><a href="/#contact">Contact</a></li>
      </ul>
      </nav>  
  </div>
  {{ content }}
  <div class="container">
    <footer  class="sixteen columns backing">
        <hr/>
        <hr/>
      <div id="credits" class="sixteen columns alpha">
        <p>Built on <a href="http://www.getskeleton.com/">Skeleton</a> framework. Huge thanks to <a href="http://oreilly.com/pub/a/oreilly/news/ediemals_0400.html" rel="external">Edie Freedman from O'Reilly Media</a> for design inspiration.</p>
      </div>
    </footer>
  </div>
</body>
</html>